- title= "Vislet - Small interactive visualizations of open data by Brennan Moore"
- description= "Small interactive visualizations to help us understand the cities we live in. All visualizations are open source."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
