- title= "Chicago Crime 2003-2014 - Vislet"
- description= "5,712,201 crimes in shown across the city of Chicago from 2003 to 2014."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
