- title= "311 calls in NYC from 2010-2014 - Vislet"
- description= "A look at the 311 calles placed in New York City from 2010 to 2014."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
