- title= "Brooklyn Residential Sales 2003-2014 - Vislet"
- description= "A look at the NYC Department of Finance Residential Property Sales Data."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(sd.APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
