- title= "Brooklyn Building Sales 2003-2014 - Vislet"
- description= "This project takes open data and displays it in a (hopefully) interesting and readable way. All visualizations are open source"
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:url", content=(sd.APP_URL + (req ? req.path : "")) )
meta( property="twitter:card", content="summary" )
